<!-- footer for all pages should be the same -->
 <!-- make sure to add actual links to stuff -->
<div class="container">
    <div class="footer-contact">
        <span>📧 <a href="mailto:carramirez2610@gmail.com">carramirez2610@gmail.com</a></span>
        <span>🌐 <a href="https://github.com/CGR-20" target="_blank">GitHub</a></span>
        <span>💼 <a href="https://www.linkedin.com/in/carlos-ramirez-43b55824a" target="_blank">LinkedIn</a></span>
        <span>💼 <a href="https://app.joinhandshake.com/profiles/carlos-ramirez" target="_blank">Handshake</a></span>
    </div>
    <p>© <span id="year"></span> Carlos Ramirez. All rights reserved.</p>
</div>